body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
}

.card {
    border: none;
}

.nav-black{
    background-color: black;
    opacity: 0.9;
    color: #fff;
}

.cards-container{
    display: flex;
    justify-content: stretch;
}

.iconos-footer li{
    list-style: none;
    display: inline-block;
    padding-right: 1em;
}