body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
}

.card {
    border: none;
}

.navbar{
    padding: 0 50px;
}

.nav-black{
    background-color: black;
    opacity: 0.9;
    color: #fff;
    padding: 0 50px;
}

.cards-container{
    display: flex;
    justify-content: stretch;
}

.iconos-footer li{
    list-style: none;
    display: inline-block;
    padding-right: 1em;
}

.iconos-footer a{
    color:#fff;
}

.iconos-footer a:hover{
    color:#f6f6f6;
}